
%hr

= form_tag login_create_path, method: :post do
 .container
  .mainbox.col-md-4.col-md-offset-4.col-sm-10.col-sm-offset-2
   .panel.panel-info
    .panel-heading 
     %h4 Login
    .panel-body
     .form-group
     = label :user, :username, 'Username'
     = text_field :user, 'username' , :id => 'login_id', class: 'form-control'
  
     %hr
     = label :user, :password, 'Password'
     = password_field :user, 'password' , :id => 'login_password', class: 'form-control'
 
     %hr
     .center
      = button_to 'Login to my account', login_create_path , method: :post, :id => 'login_submit', class: 'btn btn-primary'
      %p
      = link_to 'Sign-up	for	an	account' , new_user_path , :id => 'signup'
      %br
      = link_to 'Register without	an	account' , vendors_registration_path