= javascript_include_tag 'admins', 'data-turbolinks-track' => true

.container#admins_index
   #navigation
      %ul.nav.nav-tabs
         %li.active#nav_all_li{:role => "presentation"}
            %a#nav_all{:href => "#"} All Vendors
         %li#nav_booth_li{:role => "presentation"}
            %a#nav_booth{:href => "#"} Booth Preference
         %li#nav_custom_booth_li{:role => "presentation"}
            %a#nav_custom_booth{:href => "#"} Custom Booth
         %li#nav_services_li{:role => "presentation"}
            %a#nav_services{:href => "#"} Services
   %p
   
   #booth_search{:style=> "display: none;"}
      .panel.panel-info
         .panel-heading
            Filter by booth preferences:
         .panel-body
            %table.table
               %tbody
                  %tr
                     %td 
                        %input.sorter#filter_number_i_booth{:type => "checkbox"}
                        Inside Booth
                     %td 
                        %input.sorter#filter_number_o_booth{:type => "checkbox"}
                        Outside Booth
      
   
   #services_search{:style=> "display: none;"}
      .panel.panel-info
         .panel-heading
            Filter by requested services:
         .panel-body
            %table.table
               %tbody
                  %tr
                     %td 
                        %input.sorter#filter_ext_chairs{:type => "checkbox"}
                        Extra Chairs
                     %td 
                        %input.sorter#filter_ext_tables{:type => "checkbox"}
                        Extra Tables
                     %td 
                        %input.sorter#filter_electric{:type => "checkbox"}
                        Electric
                     %td 
                        %input.sorter#filter_service_description{:type => "checkbox"}
                        Additional Services
   
   .panel.panel-info
      .panel-body
         Click link for full details.
         %table.table#Vendors
            %thead
               %tr
                  %th{:id => "company_name_heading"} Company Name
                  %th{:id => "contact_name_heading"} Contact Person
                  %th{:id => "phone_heading"} Contact Number
                  
                  %th{:hidden => 'true', :id => "number_i_booth_heading"} Inside Booths
                  %th{:hidden => 'true', :id => "booth_i_cost_heading"} Cost
                  %th{:hidden => 'true', :id => "number_o_booth_heading"} Outside Booths
                  %th{:hidden => 'true', :id => "booth_o_cost_heading"} Cost
                  %th{:hidden => 'true', :id => "booth_cost_heading"} Total Booth Cost
                  
                  %th{:hidden => 'true', :id => "ext_chairs_heading"} Extra Chairs
                  %th{:hidden => 'true', :id => "chair_cost_heading"} Cost
                  %th{:hidden => 'true', :id => "ext_tables_heading"} Extra Tables
                  %th{:hidden => 'true', :id => "table_cost_heading"} Cost
                  %th{:hidden => 'true', :id => "electric_heading"} Electric
                  %th{:hidden => 'true', :id => "electric_cost_heading"} Cost
                  %th{:hidden => 'true', :id => "service_description_heading"} Additional Services
                  %th{:hidden => 'true', :id => "service_cost_heading"} Total Service Cost
            %tbody
               - @vendors.each do |vendor|
                  %tr{:id => "#{vendor.id}"}
                     %td 
                        %a.vendor_link{:href => "#", :id => "#{vendor.id}"} #{vendor.company_name} 
                     %td{:id => "contact_name"}
                        = vendor.contact_name
                     %td{:id => "phone"}
                        = vendor.phone
                     
                     %td{:hidden => 'true', :id => "number_i_booth"}
                        = vendor.number_i_booth
                     %td{:hidden => 'true', :id => "booth_i_cost"}
                        = vendor.booth_i_cost
                     %td{:hidden => 'true', :id => "number_o_booth"}
                        = vendor.number_o_booth
                     %td{:hidden => 'true', :id => "booth_o_cost"}
                        = vendor.booth_o_cost
                     %td{:hidden => 'true', :id => "booth_cost"}
                        = vendor.booth_cost
                        
                     %td{:hidden => 'true', :id => "ext_chairs"}
                        = vendor.ext_chairs
                     %td{:hidden => 'true', :id => "chair_cost"}
                        = vendor.chair_cost
                     %td{:hidden => 'true', :id => "ext_tables"}
                        = vendor.ext_tables
                     %td{:hidden => 'true', :id => "table_cost"}
                        = vendor.table_cost
                     %td{:hidden => 'true', :id => "electric"}
                        = vendor.electric
                     %td{:hidden => 'true', :id => "electric_cost"}
                        = vendor.electric_cost
                     %td{:hidden => 'true', :id => "service_description"}
                        = vendor.service_description
                     %td{:hidden => 'true', :id => "service_cost"}
                        = vendor.service_cost
                     
   #individual{:style=> "display: none;"}