%h1 Sign Up
%hr


= form_tag users_path, :method => :post do

  = label :user, :username, 'Username'
  = text_field :user, 'username' , :id => 'signup_id'

  %hr

  = label :user, :password, 'Password'
  = text_field :user, 'password' , :id => 'signup_password'
  
  %hr
  
  = label :user, :email, 'E-Mail'
  = text_field :user, 'email' , :id => 'signup_email'
  
  %hr
 
  = label :user, :role, 'User Type'
  = select :user, :role, ['Vendor','Admin(Authorized Personel Only)'], class: 'required'
  
  %hr
  
  = submit_tag 'Create my account', :method => :post , :id => 'signup_submit'

