%div{:class => "contentPrint"}
    .center
        .panel.panel-info
            .panel-heading 
                %h4 Vendor Information
            .panel-body
                .form-group
                    %h3 Contact Information
                    %b Company Name: 
                    =@vendor.company_name
                    %br
                    %b Product: 
                    =@vendor.product
                    %br
                    %b Contact Name: 
                    =@vendor.contact_name
                    %br
                    %b Contact Title: 
                    =@vendor.contact_title
                    %br
                    %b Address: 
                    %br
                    =@vendor.address_street
                    =@vendor.address_city
                    ,
                    =@vendor.address_state
                    =@vendor.address_zip
                    %br
                    %b Phone: 
                    =@vendor.phone
                    %br
                    %b Email:
                    =@vendor.email
                    %br
                
                    .link#contact_link
                        = link_to "Edit Contact Info", admins_change_vendor_path(:vendor_id => @vendor.id,:page => "contact")
                
                .form-group{:style => "border-top: 1px solid #BB182D; padding-top:20px"}    
                    - if (! @vendor.booth_pref)
                        %h3 Booth Information
                        %b Indoor Booth/s: 
                        = @vendor.number_i_booth
                        %br
                        %b Cost of Indoor Booths $
                        = @vendor.booth_i_cost
                        %br
                        %b Outdoor Booths: 
                        = @vendor.number_o_booth
                        %br
                        %b Cost of Outdoor Booths $
                        = @vendor.booth_o_cost
                        %br
                        %b Booth Cost $ 
                        = @vendor.booth_cost
                        %br
                    - else
                        %h3 Booth Information  
                        %b Length :
                        = @vendor.length
                        %br
                        %b Width :
                        = @vendor.width
                        %br
                        %b Booth Cost $ 
                        = @vendor.booth_cost
                        %br
                        %b Booth Description:
                        = @vendor.custom_description
                        %br
                        
                    .link#booth_link
                        = link_to "Edit Booth Info", admins_change_vendor_path(:vendor_id => @vendor.id,:page => "booth")
                
                .form-group{:style => "border-top: 1px solid #BB182D; padding-top:20px"}
                    %h3 Services Requested
                    %b Electricity: 
                    =@vendor.electric
                    %br
                    %b Electricity Cost $ 
                    =@vendor.electric_cost
                    %br
                    %b Extra Chairs:
                    =@vendor.ext_chairs
                    %br
                    %b Extra Chairs Cost $
                    =@vendor.chair_cost
                    %br
                    %b Extra Tables:
                    =@vendor.ext_tables
                    %br
                    %b Extra Tables Cost $
                    =@vendor.table_cost
                    %br
                    %b Service Cost:
                    =@vendor.service_cost
                    %br
                    -if (@vendor.service_description != "")
                        %h3 *Addtion Service Requested*
                        =@vendor.service_description
                    .link#service_link
                        = link_to "Edit Services Info", admins_change_vendor_path(:vendor_id => @vendor.id,:page => "services")
                
                .form-group{:style => "border-top: 1px solid #BB182D; padding-top:20px"}
                    %h3 Authorization
                    %b Authorized By:
                    =@vendor.authorize_sig
                    %br
                    %b Authorized Title:
                    =@vendor.authorize_title
                    %br
                    %b Authorized Date:
                    =@vendor.authorize_date
                
                
                .form-group{:style => "border-top: 1px solid #BB182D; padding-top:20px"}        
                    %button{:onclick => "printP()", :id => "printButton"} Print This View
                    :javascript
                        function printP() {
                            var button = document.getElementById('printButton');
                            var closeButton = document.getElementById('closeButton');
                            var contact = document.getElementById("contact_link");
                            var booth = document.getElementById("booth_link");
                            var services = document.getElementById("service_link");
                            button.style.visibility = 'hidden';
                            closeButton.style.visibility = 'hidden';
                            contact.style.visibility = 'hidden';
                            booth.style.visibility = 'hidden';
                            services.style.visibility = 'hidden';
                            var win = $('.contentPrint').html();
                            var w = window.open();
                            w.document.write('<html>' + win + '</html>')
                            w.print();
                            w.close();
                            button.style.visibility = 'visible';
                            closeButton.style.visibility = 'visible';
                            contact.style.visibility = 'visible';
                            booth.style.visibility = 'visible';
                            services.style.visibility = 'visible';
                        }
                    
                .form-group{:style => "border-top: 1px solid #BB182D; padding-top:20px", :id=>"closeButton"}
                    .center
                        %a#close_individual Close