%h1 Vendor Registraion

= form_tag path(@vendor), :method => # do
  %fieldset :id => 'booth'
      %h1 Booth Preferences
          //= label :vendor, ;booth_pref 'Covered Booth Preference'
          = check_box_tag "Covered", 0, @booth_pref.include?("true")
          
          //= label :vendor, ;booth_pref 'Uncovered Booth Preference'
          = check_box_tag "Uncoverd", 0,  @booth_pref.include?("false")
          
          //= label :vendor, ;booth_pref 'Uncovered Booth Preference'
          = check_box_tag "No Preference", 0,  @booth_pref.include?("") 
          
          %h1 Number of Indoor Booths  
          = label :vendor, :number_i_booth, 'Indoor Booths'
          = select :vendor, :number_i_booth, ['0','1','2','3','4','5','6','7','8','9','10'] class: 'required'
        
          %h1 Number of Outdoor Booths  
          = label :vendor, :number_o_booth, 'Outdoor Booths'
          = select :vendor, :number_o_booth, ['0','1','2','3','4','5','6','7','8','9','10'] class: 'required'
        
          %h1 Custoom Outdoor space
          = label :vendor, :length_booth, 'Length'
          = text_field :vendor, 'length_booth'
          = label :vendor, :width_booth, 'Width'
          = text_field :vendor, 'width_booth'
          = label :vendor, :custom_booth_cost, 'Custom Booth Cost'
          //populate with a function
          = text_field :vendor, 'custom_booth_cost'
          
          %h1 Cost of Selected Booths
          = label :vendor, booth_cost, "Cost of Booths = "
          //calc for cost of booths goes here
          = text_field :vendor, 'booth_cost'

  = submit_tag 'Submit Vendor Registration'