<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<div id="main">
  <% if !@current_user %>
    <%= button_to 'Sign Up/Login', login_path , method: :get, :id => 'login' %>
  <% else %>
    <p class="flash_message">You are logged in as #{@current_user.username} </p>
    <%= button_to 'Logout', logout_path , method: :delete, :id => 'logout' %>
  <% end %>
  <% if flash[:notice] %>
    <div class="flash_message" id="notice">
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:warning] %>
    <div class="flash_message" id="warning">
      <%= flash[:warning] %>
    </div>
  <% end %>
  <%= yield %>
</div>


</body>
</html>
